:root {
    --main-font: 'Helvetica', "Arial", sans-serif;
    
    --font-size-s: 1rem;
    --font-size-m: 2rem;
    --font-size-l: clamp(3rem, 6vw + 1rem, 10rem)

}

@media (min-width: 40em) {
    :root{
    --font-size-s: 1.5rem;
        --font-size-m: 3rem;

    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
background: linear-gradient(90deg,rgba(19, 36, 19, 1) 0%, rgba(43, 54, 43, 1) 100%);
font-family: var(--main-font);
color: azure;
}

h1 {
    font-size: var(--font-size-l);
    padding: 0.6rem;
}


#map {
    height: 200px;
}

#myDiv {
    flex: 1 0 auto;
}

#data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3 {
    font-size: var(--font-size-m);
    margin-top: 0;
}

.card {
    padding: 1rem;
    margin: 1rem;
    font-size: var(--font-size-s);
}

footer {
    text-align: center;
    align-content: center;
    height: clamp(2rem, 10dvh, 4rem);
    background-color: aqua;

}